호텔 데이터 정리

In [ ]:
import pandas as pd
# 컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	STRING		N	Y
# 2	LDGS_NM	숙박업명	STRING		N	Y
# 3	LDGS_TY_CD	숙박업유형코드	STRING	1	N	Y
# 4	LDGMNT_TY_NM	숙박유형명	STRING	1	N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	BIGINT	100	Y	Y
# 2	LDGS_NM	숙박업명	STRING	100	N	Y
# 3	LDGS_ZIP_NO	숙박업우편번호	STRING	100	N	Y
# 4	LDGS_ROAD_NM_ADDR	숙박업도로명주소	STRING	100	N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	STRING	100	N	Y
# 2	LDGS_NM	숙박업명	STRING	100	N	Y
# 3	LDGS_LA	숙박업위도	DOUBLE		N	Y
# 4	LDGS_LO	숙박업경도	DOUBLE		N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	BIGINT	100	Y	Y
# 2	GSRM_CD	객실코드	STRING	1000	N	Y
# 3	LDGS_IMAGE_URL	숙박업이미지URL	STRING	1000	N	Y
# 4	GSRM_IMAGE_URL	객실이미지URL	STRING	1000	N	Y
# 5	IMAGE_RNEWL_DE	이미지갱신일자	STRING	1000	N	Y

In [119]:
# 데이터 로드 
df_location=pd.read_csv("./data/YN_LDGS_PROPERTY_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_coordinates=pd.read_csv("./data/YN_LDGS_PROPERTY_LC_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_hotels=pd.read_csv("./data/YN_LDGS_STAYNG_TY_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_images=pd.read_csv("./data/YN_LDGS_PROPRERTY_PHOTO_URL_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [120]:
df_images.isna().sum()
df_images = df_images.drop(columns=["LDGS_IMAGE_URL"])

In [121]:
# 중복 컬럼 삭제
df_location = df_location.drop(columns=["LDGS_NM"])
df_coordinates = df_coordinates.drop(columns=["LDGS_NM"])

In [122]:
# LDGS_CD 기준으로 조인
df_hotel_data = df_hotels.merge(df_location, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_coordinates, on="LDGS_CD", how="left")

In [123]:
df_hotel_data = df_hotels.merge(df_location, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_coordinates, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_images, on="LDGS_CD", how="left")

In [124]:
df_hotel_data.rename(columns={
    "LDGS_CD": "숙박업코드",
    "LDGS_NM": "숙박업이름",
    "LDGS_TY_CD": "숙박업유형코드",
    "LDGMNT_TY_NM": "숙박유형명",
    "LDGS_ZIP_NO": "우편번호",
    "LDGS_ROAD_NM_ADDR": "도로명주소",
    "LDGS_LA": "위도",
    "LDGS_LO": "경도",
    "GSRM_IMAGE_URL": "객실이미지URL",
    "IMAGE_RNEWL_DE": "이미지갱신일자"
}, inplace=True)

In [ ]:
# 중복 숙방업 제거
df_hotel_data = df_hotel_data.drop_duplicates(subset=["숙박업코드"], keep="first")

In [137]:
df_hotel_data.isna().sum()

숙박업코드        0
숙박업이름        0
숙박업유형코드      0
숙박유형명        0
우편번호         0
도로명주소        0
위도           0
경도           0
GSRM_CD     38
객실이미지URL    38
이미지갱신일자     38
dtype: int64

In [139]:
df_hotel_data=df_hotel_data.dropna()

In [146]:
df_hotel_data=df_hotel_data[~df_hotel_data["숙박유형명"].str.contains("GuestHouse")]

In [147]:
df_hotel_data.to_csv("./data/hotel_data.csv", index=False, encoding="utf-8-sig")

In [162]:
df_hotel_data['숙박유형명'].unique()

array(['Motel', 'Hotel', 'Pension'], dtype=object)

레져 데이터 정리

In [ ]:
# 레져시설

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	FCLTY_ROAD_NM_ADDR	시설도로명주소	STRING	2000	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	DOUBLE	20	Y	Y
# 2	FCLTY_CRDNT_LA	시설좌표위도	DOUBLE	20	N	N
# 3	FCLTY_CRDNT_LO	시설좌표경도	DOUBLE	20	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	LSR_MAIN_THUMB_URL	레저메인썸네일URL	STRING	2000	N	N
# 4	LSR_DETAIL_IMAGE_URL	레저상세이미지URL	STRING	10000	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	FCLTY_TEL_NO	시설전화번호	STRING	20	N	N

In [ ]:
# 데이터 로드드
df_leisure_images = pd.read_csv("./data/YN_LSR_DEAL_GOODS_PHOTO_URL_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_location =pd.read_csv("./data/YN_LSR_LC_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_location ["LSR_GOODS_CD"] = df_leisure_location ["LSR_GOODS_CD"].astype(int)
df_leisure_info  =pd.read_csv("./data/YN_LSR_RDNMADR_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_contact=pd.read_csv("./data/YN_LSR_TELNO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [ ]:
# 중복 컬럼 제거
df_leisure_images = df_leisure_images.drop(columns=["LSR_GOODS_NM"])
df_leisure_contact = df_leisure_contact.drop(columns=["LSR_GOODS_NM"])

In [89]:
# LSR_GOODS_CD 기준 데이터 조인 
df_leisure_data = df_leisure_info.merge(df_leisure_location, on="LSR_GOODS_CD", how="left")
df_leisure_data = df_leisure_data.merge(df_leisure_images, on="LSR_GOODS_CD", how="left")
df_leisure_data = df_leisure_data.merge(df_leisure_contact, on="LSR_GOODS_CD", how="left")

In [94]:
df_leisure_data.isna().sum()
df_leisure_data=df_leisure_data.dropna()

In [95]:
df_leisure_data.isna().sum()

LSR_GOODS_CD            0
LSR_GOODS_NM            0
FCLTY_ROAD_NM_ADDR      0
FCLTY_CRDNT_LA          0
FCLTY_CRDNT_LO          0
LSR_MAIN_THUMB_URL      0
LSR_DETAIL_IMAGE_URL    0
FCLTY_TEL_NO            0
dtype: int64

In [96]:
# 컬럼이름 한글화
df_leisure_data.rename(columns={
    "LSR_GOODS_CD": "레저상품코드",
    "LSR_GOODS_NM": "레저상품명",
    "FCLTY_ROAD_NM_ADDR": "시설도로명주소",
    "FCLTY_CRDNT_LA": "시설위도",
    "FCLTY_CRDNT_LO": "시설경도",
    "LSR_MAIN_THUMB_URL": "레저메인썸네일URL",
    "LSR_DETAIL_IMAGE_URL": "레저상세이미지URL",
    "FCLTY_TEL_NO": "시설전화번호"
}, inplace=True)

C:\Users\nhcho\AppData\Local\Temp\ipykernel_5208\3860166231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_leisure_data.rename(columns={

In [116]:
df_leisure_data.shape

(7452, 8)

In [99]:
df_leisure_data.to_csv("./data/leisure_data.csv", index=False, encoding="utf-8-sig")

In [ ]:
# 숙박업 금액 
# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGMNT_MT	숙박월	VARCHAR	2	N	N
# 2	LDGMNT_DE	숙박일자	VARCHAR	8	N	N
# 3	WKDAY_NM	요일명	VARCHAR	200	N	N
# 4	CTY_NM	도시명	VARCHAR	200	N	N
# 5	SIGNGU_NM	시군구명	VARCHAR	200	N	N
# 6	ADSTRD_NM	행정동명	VARCHAR	200	N	N
# 7	LDGMNT_TY_NM	숙박유형명	VARCHAR	200	N	N
# 8	AVRG_SLE_PRICE	평균판매금액	DECIMAL	28,5	N	N

In [180]:
df_price=pd.read_csv("./data/price.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [185]:
df_price.head()

   숙박유형명  평균판매금액      지역명 성수기여부
0  Hotel   88667  강원도 강릉시   비수기
1  Hotel  205885  강원도 강릉시   성수기
2  Hotel   96455  강원도 강릉시   비수기
3  Hotel  142178  강원도 강릉시   성수기
4  Hotel   65000  강원도 강릉시   비수기

In [182]:
df_price = df_price.drop(columns=["숙박월"])
df_price = df_price.drop(columns=["요일명"])

In [184]:
df_price["성수기여부"] = df_price["평균판매금액"].apply(lambda x: "성수기" if x >= 100000 else "비수기")

In [186]:
df_price.to_csv("./data/price.csv", index=False, encoding="utf-8-sig")