In [95]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

In [96]:
df_price = pd.read_csv('./data/price.csv', encoding="utf-8")

In [97]:
df_price.head()

   숙박유형명  평균판매금액      지역명 성수기여부
0  Hotel   88667  강원도 강릉시   비수기
1  Hotel  205885  강원도 강릉시   성수기
2  Hotel   96455  강원도 강릉시   비수기
3  Hotel  142178  강원도 강릉시   성수기
4  Hotel   65000  강원도 강릉시   비수기

In [98]:
df_price['지역명'].nunique()

57

In [99]:
df_price['숙박유형명'].unique()

array(['Hotel', 'Pension', 'Motel'], dtype=object)

In [120]:
X = df_price.drop(columns=["평균판매금액","성수기여부"])
y = df_price["평균판매금액"]

In [134]:

categorical_columns = ["지역명", "숙박유형명"]
label_column = ['성수기여부']

In [135]:
label_column

['성수기여부']

In [136]:
encoder = ColumnTransformer([('encoder', OneHotEncoder(handle_unknown="ignore"), categorical_columns)],remainder='passthrough')

In [154]:
label_encoder = LabelEncoder()
label_column = label_encoder.fit_transform(label_column)

In [155]:
label_column

array([0], dtype=int64)

In [156]:
X.head(1)

   숙박유형명      지역명
0  Hotel  강원도 강릉시

In [ ]:
y.head(1)

0    88667
Name: 평균판매금액, dtype: int64

:

In [ ]:
pd.DataFrame(label_column).head()

In [151]:
X['지역명']

0      강원도 강릉시
1      강원도 강릉시
2      강원도 강릉시
3      강원도 강릉시
4      강원도 강릉시
        ...
481    경기도 평택시
482    경기도 평택시
483    경기도 평택시
484    경기도 평택시
485    경기도 평택시
Name: 지역명, Length: 486, dtype: object

In [142]:
X_transformed = encoder.fit_transform(X)

In [143]:
type(X_transformed)

scipy.sparse._csr.csr_matrix

In [144]:
# 희소 행렬을 numpy 배열로 변환
X_transformed = X_transformed.toarray()

In [125]:
# 변환된 컬럼명 가져오기
feature_names = encoder.get_feature_names_out()

In [126]:
feature_names

array(['encoder__지역명_강원도 강릉시', 'encoder__지역명_강원도 고성군',
       'encoder__지역명_강원도 동해시', 'encoder__지역명_강원도 삼척시',
       'encoder__지역명_강원도 속초시', 'encoder__지역명_강원도 양구군',
       'encoder__지역명_강원도 양양군', 'encoder__지역명_강원도 영월군',
       'encoder__지역명_강원도 원주시', 'encoder__지역명_강원도 인제군',
       'encoder__지역명_강원도 정선군', 'encoder__지역명_강원도 철원군',
       'encoder__지역명_강원도 춘천시', 'encoder__지역명_강원도 태백시',
       'encoder__지역명_강원도 평창군', 'encoder__지역명_강원도 홍천군',
       'encoder__지역명_강원도 화천군', 'encoder__지역명_강원도 횡성군',
       'encoder__지역명_경기도 가평군', 'encoder__지역명_경기도 고양시덕양구',
       'encoder__지역명_경기도 고양시일산동구', 'encoder__지역명_경기도 고양시일산서구',
       'encoder__지역명_경기도 과천시', 'encoder__지역명_경기도 광명시',
       'encoder__지역명_경기도 광주시', 'encoder__지역명_경기도 구리시',
       'encoder__지역명_경기도 군포시', 'encoder__지역명_경기도 김포시',
       'encoder__지역명_경기도 남양주시', 'encoder__지역명_경기도 동두천시',
       'encoder__지역명_경기도 부천시', 'encoder__지역명_경기도 성남시분당구',
       'encoder__지역명_경기도 성남시수정구', 'encoder__지역명_경기도 성남시중원구',
       'encoder__지역명_경기도 수원시권선구', 'encoder__지역명_경기도 수원시영통구',
       'encoder__지역명_경기도 수원시장안구', 'encoder__지역명_경기도 수원시팔달구',
       'encoder__지역명_경기도 시흥시', 'encoder__지역명_경기도 안산시단원구',
       'encoder__지역명_경기도 안산시상록구', 'encoder__지역명_경기도 안성시',
       'encoder__지역명_경기도 안양시동안구', 'encoder__지역명_경기도 안양시만안구',
       'encoder__지역명_경기도 양주시', 'encoder__지역명_경기도 양평군',
       'encoder__지역명_경기도 여주시', 'encoder__지역명_경기도 연천군',
       'encoder__지역명_경기도 오산시', 'encoder__지역명_경기도 용인시기흥구',
       'encoder__지역명_경기도 용인시수지구', 'encoder__지역명_경기도 용인시처인구',
       'encoder__지역명_경기도 의왕시', 'encoder__지역명_경기도 의정부시',
       'encoder__지역명_경기도 이천시', 'encoder__지역명_경기도 파주시',
       'encoder__지역명_경기도 평택시', 'encoder__숙박유형명_Hotel',
       'encoder__숙박유형명_Motel', 'encoder__숙박유형명_Pension'], dtype=object)

In [127]:
# 넘파이 배열을 pandas DataFrame으로 변환
df_encoded = pd.DataFrame(X_transformed, columns=feature_names)
df_encoded[label_column] = X[label_column].reset_index(drop=True)  # 성수기여부 추가
df_encoded["평균판매금액"] = y  # 최종적으로 y 추가

KeyError: '성수기여부'

In [112]:
df_encoded

,encoder__지역명_강원도 강릉시,encoder__지역명_강원도 고성군,encoder__지역명_강원도 동해시,encoder__지역명_강원도 삼척시,encoder__지역명_강원도 속초시,encoder__지역명_강원도 양구군,encoder__지역명_강원도 양양군,encoder__지역명_강원도 영월군,encoder__지역명_강원도 원주시,encoder__지역명_강원도 인제군,...,encoder__지역명_경기도 의왕시,encoder__지역명_경기도 의정부시,encoder__지역명_경기도 이천시,encoder__지역명_경기도 파주시,encoder__지역명_경기도 평택시,encoder__숙박유형명_Hotel,encoder__숙박유형명_Motel,encoder__숙박유형명_Pension,remainder__성수기여부,평균판매금액
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,88667
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,205885
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,96455
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,142178
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,65000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,41600
482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,55000
483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,55406
484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,46667
485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,52375

In [113]:
df_encoded["평균판매금액"] = y

In [114]:
df_encoded.to_csv("data/processed_data.csv", index=False, encoding="utf-8-sig")

In [115]:
joblib.dump(encoder, "models/encoder.pkl") # 피클 추가~
joblib.dump(label_encoder, "models/label_encoder.pkl")

['models/label_encoder.pkl']