호텔 데이터 정리

In [1]:
import pandas as pd
# 컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	STRING		N	Y
# 2	LDGS_NM	숙박업명	STRING		N	Y
# 3	LDGS_TY_CD	숙박업유형코드	STRING	1	N	Y
# 4	LDGMNT_TY_NM	숙박유형명	STRING	1	N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	BIGINT	100	Y	Y
# 2	LDGS_NM	숙박업명	STRING	100	N	Y
# 3	LDGS_ZIP_NO	숙박업우편번호	STRING	100	N	Y
# 4	LDGS_ROAD_NM_ADDR	숙박업도로명주소	STRING	100	N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	STRING	100	N	Y
# 2	LDGS_NM	숙박업명	STRING	100	N	Y
# 3	LDGS_LA	숙박업위도	DOUBLE		N	Y
# 4	LDGS_LO	숙박업경도	DOUBLE		N	Y

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGS_CD	숙박업코드	BIGINT	100	Y	Y
# 2	GSRM_CD	객실코드	STRING	1000	N	Y
# 3	LDGS_IMAGE_URL	숙박업이미지URL	STRING	1000	N	Y
# 4	GSRM_IMAGE_URL	객실이미지URL	STRING	1000	N	Y
# 5	IMAGE_RNEWL_DE	이미지갱신일자	STRING	1000	N	Y

In [119]:
# 데이터 로드 
df_location=pd.read_csv("./data/YN_LDGS_PROPERTY_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_coordinates=pd.read_csv("./data/YN_LDGS_PROPERTY_LC_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_hotels=pd.read_csv("./data/YN_LDGS_STAYNG_TY_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_images=pd.read_csv("./data/YN_LDGS_PROPRERTY_PHOTO_URL_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [120]:
df_images.isna().sum()
df_images = df_images.drop(columns=["LDGS_IMAGE_URL"])

In [121]:
# 중복 컬럼 삭제
df_location = df_location.drop(columns=["LDGS_NM"])
df_coordinates = df_coordinates.drop(columns=["LDGS_NM"])

In [122]:
# LDGS_CD 기준으로 조인
df_hotel_data = df_hotels.merge(df_location, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_coordinates, on="LDGS_CD", how="left")

In [123]:
df_hotel_data = df_hotels.merge(df_location, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_coordinates, on="LDGS_CD", how="left")
df_hotel_data = df_hotel_data.merge(df_images, on="LDGS_CD", how="left")

In [124]:
df_hotel_data.rename(columns={
    "LDGS_CD": "숙박업코드",
    "LDGS_NM": "숙박업이름",
    "LDGS_TY_CD": "숙박업유형코드",
    "LDGMNT_TY_NM": "숙박유형명",
    "LDGS_ZIP_NO": "우편번호",
    "LDGS_ROAD_NM_ADDR": "도로명주소",
    "LDGS_LA": "위도",
    "LDGS_LO": "경도",
    "GSRM_IMAGE_URL": "객실이미지URL",
    "IMAGE_RNEWL_DE": "이미지갱신일자"
}, inplace=True)

In [ ]:
# 중복 숙방업 제거
df_hotel_data = df_hotel_data.drop_duplicates(subset=["숙박업코드"], keep="first")

In [137]:
df_hotel_data.isna().sum()

숙박업코드        0
숙박업이름        0
숙박업유형코드      0
숙박유형명        0
우편번호         0
도로명주소        0
위도           0
경도           0
GSRM_CD     38
객실이미지URL    38
이미지갱신일자     38
dtype: int64

In [139]:
df_hotel_data=df_hotel_data.dropna()

In [146]:
df_hotel_data=df_hotel_data[~df_hotel_data["숙박유형명"].str.contains("GuestHouse")]

In [147]:
df_hotel_data.to_csv("./data/hotel_data.csv", index=False, encoding="utf-8-sig")

In [162]:
df_hotel_data['숙박유형명'].unique()

array(['Motel', 'Hotel', 'Pension'], dtype=object)

In [21]:
pd.read_csv("./data/hotel_data.csv").head(2)

,숙박업코드,숙박업이름,숙박업유형코드,숙박유형명,우편번호,도로명주소,위도,경도,GSRM_CD,객실이미지URL,이미지갱신일자
0,23184,영등포 라이프스타일 F HOTEL,1,Motel,7306,서울 영등포구 경인로108길 8 (영등포동1가),37.517182,126.911217,2471.0,https://yaimg.yanolja.com/resize/place/v4/2017...,2024-11-14 16:02:46.000
1,23192,청주 오창 M+,1,Motel,28118,충청북도 청주시 청원구 오창읍 양청송대길 9-12,36.713884,127.439228,2484.0,https://yaimg.yanolja.com/v5/2022/04/28/10/626...,2024-10-08 16:58:31.000

레져 데이터 정리

In [ ]:
# 레져시설

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	FCLTY_ROAD_NM_ADDR	시설도로명주소	STRING	2000	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	DOUBLE	20	Y	Y
# 2	FCLTY_CRDNT_LA	시설좌표위도	DOUBLE	20	N	N
# 3	FCLTY_CRDNT_LO	시설좌표경도	DOUBLE	20	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	LSR_MAIN_THUMB_URL	레저메인썸네일URL	STRING	2000	N	N
# 4	LSR_DETAIL_IMAGE_URL	레저상세이미지URL	STRING	10000	N	N

# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LSR_GOODS_CD	레저상품코드	STRING	20	Y	Y
# 2	LSR_GOODS_NM	레저상품명	STRING	200	N	N
# 3	FCLTY_TEL_NO	시설전화번호	STRING	20	N	N

In [ ]:
# 데이터 로드드
df_leisure_images = pd.read_csv("./data/YN_LSR_DEAL_GOODS_PHOTO_URL_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_location =pd.read_csv("./data/YN_LSR_LC_INFO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_location ["LSR_GOODS_CD"] = df_leisure_location ["LSR_GOODS_CD"].astype(int)
df_leisure_info  =pd.read_csv("./data/YN_LSR_RDNMADR_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')
df_leisure_contact=pd.read_csv("./data/YN_LSR_TELNO_202412.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [ ]:
# 중복 컬럼 제거
df_leisure_images = df_leisure_images.drop(columns=["LSR_GOODS_NM"])
df_leisure_contact = df_leisure_contact.drop(columns=["LSR_GOODS_NM"])

In [89]:
# LSR_GOODS_CD 기준 데이터 조인 
df_leisure_data = df_leisure_info.merge(df_leisure_location, on="LSR_GOODS_CD", how="left")
df_leisure_data = df_leisure_data.merge(df_leisure_images, on="LSR_GOODS_CD", how="left")
df_leisure_data = df_leisure_data.merge(df_leisure_contact, on="LSR_GOODS_CD", how="left")

In [94]:
df_leisure_data.isna().sum()
df_leisure_data=df_leisure_data.dropna()

In [95]:
df_leisure_data.isna().sum()

LSR_GOODS_CD            0
LSR_GOODS_NM            0
FCLTY_ROAD_NM_ADDR      0
FCLTY_CRDNT_LA          0
FCLTY_CRDNT_LO          0
LSR_MAIN_THUMB_URL      0
LSR_DETAIL_IMAGE_URL    0
FCLTY_TEL_NO            0
dtype: int64

In [96]:
# 컬럼이름 한글화
df_leisure_data.rename(columns={
    "LSR_GOODS_CD": "레저상품코드",
    "LSR_GOODS_NM": "레저상품명",
    "FCLTY_ROAD_NM_ADDR": "시설도로명주소",
    "FCLTY_CRDNT_LA": "시설위도",
    "FCLTY_CRDNT_LO": "시설경도",
    "LSR_MAIN_THUMB_URL": "레저메인썸네일URL",
    "LSR_DETAIL_IMAGE_URL": "레저상세이미지URL",
    "FCLTY_TEL_NO": "시설전화번호"
}, inplace=True)

C:\Users\nhcho\AppData\Local\Temp\ipykernel_5208\3860166231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_leisure_data.rename(columns={

In [116]:
df_leisure_data.shape

(7452, 8)

In [99]:
df_leisure_data.to_csv("./data/leisure_data.csv", index=False, encoding="utf-8-sig")

In [17]:
pd.read_csv('data/leisure_data.csv').head(2)

,레저상품코드,레저상품명,시설도로명주소,시설위도,시설경도,레저메인썸네일URL,레저상세이미지URL,시설전화번호
0,10022269,[부산 해운대] 부산 요트투어 요트와 특가,대한민국 부산광역시 해운대구 해운대해변로 84,35.160587,129.139954,https://image6.yanolja.com/leisure/MsI9WehdYes...,[https://image6.yanolja.com/leisure/x35F4oC3xX...,010-8960-3888
1,10022279,[부산 해운대] 부산 요트투어 요트G 퍼블릭투어,부산광역시 해운대구 해운대해변로 84,35.160576,129.141022,https://image6.yanolja.com/leisure/vGgpTdPL2zF...,[https://image6.yanolja.com/leisure/vGgpTdPL2z...,1899-3031

In [ ]:
# 숙박업 금액 
# 순서	컬럼영문명	컬럼한글명	데이터타입	길이	PK여부	NOT NULL여부
# 1	LDGMNT_MT	숙박월	VARCHAR	2	N	N
# 2	LDGMNT_DE	숙박일자	VARCHAR	8	N	N
# 3	WKDAY_NM	요일명	VARCHAR	200	N	N
# 4	CTY_NM	도시명	VARCHAR	200	N	N
# 5	SIGNGU_NM	시군구명	VARCHAR	200	N	N
# 6	ADSTRD_NM	행정동명	VARCHAR	200	N	N
# 7	LDGMNT_TY_NM	숙박유형명	VARCHAR	200	N	N
# 8	AVRG_SLE_PRICE	평균판매금액	DECIMAL	28,5	N	N

In [7]:
df_price=pd.read_csv("./data/price.csv",encoding="utf-8", quotechar='"', on_bad_lines='skip')

In [ ]:
df_price.head

   숙박유형명  평균판매금액      지역명  성수기여부
0  Hotel   88667  강원도 강릉시      0
1  Hotel  205885  강원도 강릉시      1

In [ ]:
pd.read_csv('data/price.csv')

,숙박업코드,숙박업이름,숙박업유형코드,숙박유형명,우편번호,도로명주소,위도,경도,GSRM_CD,객실이미지URL,이미지갱신일자
0,23184,영등포 라이프스타일 F HOTEL,1,Motel,7306,서울 영등포구 경인로108길 8 (영등포동1가),37.517182,126.911217,2471.0,https://yaimg.yanolja.com/resize/place/v4/2017...,2024-11-14 16:02:46.000
1,23192,청주 오창 M+,1,Motel,28118,충청북도 청주시 청원구 오창읍 양청송대길 9-12,36.713884,127.439228,2484.0,https://yaimg.yanolja.com/v5/2022/04/28/10/626...,2024-10-08 16:58:31.000
2,23197,강남 렉시,1,Motel,6235,서울특별시 강남구 테헤란로16길 11,37.498792,127.033956,2495.0,https://yaimg.yanolja.com/v5/2020/01/20/10/5e2...,2024-04-26 12:15:14.000
3,23204,대전 유성 시나브로,1,Motel,34185,대전광역시 유성구 온천북로59번길 9,36.356873,127.349172,2504.0,https://yaimg.yanolja.com/resize/place/v4/2017...,2023-10-24 17:11:12.000
4,23206,부천(상동) MY HOTEL,1,Motel,14542,경기도 부천시 길주로121번길 18-11(상동),37.506612,126.756644,2506.0,https://yaimg.yanolja.com/resize/place/v4/2017...,2023-08-15 15:52:11.000
...,...,...,...,...,...,...,...,...,...,...,...
25748,1000114526,전주 중노송동 파인,1,Motel,55000,전라북도 전주시 완산구 현무3길 54,35.822097,127.150451,385615.0,https://yaimg.yanolja.com/v5/2021/06/01/18/60b...,2024-01-01 04:03:08.000
25749,1000114529,거창서핑파크 리조트 & 글램핑,2,Hotel,50103,경상남도 거창군 위천면 거차1길 23-18,35.747967,127.836350,385504.0,https://yaimg.yanolja.com/v5/2022/08/23/19/630...,2024-12-06 14:11:41.000
25750,1000114558,여수 굿썸,1,Motel,59769,전라남도 여수시 돌산읍 강남로 45,34.719781,127.750254,385558.0,https://yaimg.yanolja.com/v5/2021/05/31/17/60b...,2024-11-02 23:13:02.000
25751,1000114577,순천 브라운도트 순천역점,1,Motel,57964,전라남도 순천시 팔마로 153,34.944613,127.504991,404848.0,https://yaimg.yanolja.com/v5/2021/08/27/15/612...,2024-12-09 15:40:18.000
25752,1000114675,인천(검단) 브라운도트 인천검단사거리점,1,Motel,22636,인천광역시 서구 완정로117번길 31(왕길동),37.600624,126.659497,403843.0,https://yaimg.yanolja.com/v5/2021/08/30/11/612...,2024-07-17 12:56:32.000

In [11]:
df_price.to_csv("./data/price.csv", index=False, encoding="utf-8-sig")

In [22]:
pd.read_csv('./data/price.csv')

     숙박유형명  평균판매금액      지역명  성수기여부
0    Hotel   88667  강원도 강릉시      0
1    Hotel  205885  강원도 강릉시      1
2    Hotel   96455  강원도 강릉시      0
3    Hotel  142178  강원도 강릉시      1
4    Hotel   65000  강원도 강릉시      0
..     ...     ...      ...    ...
481  Motel   41600  경기도 평택시      0
482  Motel   55000  경기도 평택시      0
483  Motel   55406  경기도 평택시      0
484  Motel   46667  경기도 평택시      0
485  Motel   52375  경기도 평택시      0

[486 rows x 4 columns]

   숙박유형명  평균판매금액      지역명 성수기여부
0  Hotel   88667  강원도 강릉시   비수기
1  Hotel  205885  강원도 강릉시   성수기

In [6]:
df['지역명'].unique()

array(['강원도 강릉시', '강원도 고성군', '강원도 동해시', '강원도 삼척시', '강원도 속초시', '강원도 양구군',
       '강원도 양양군', '강원도 영월군', '강원도 원주시', '강원도 인제군', '강원도 정선군', '강원도 철원군',
       '강원도 춘천시', '강원도 태백시', '강원도 평창군', '강원도 홍천군', '강원도 화천군', '강원도 횡성군',
       '경기도 가평군', '경기도 고양시덕양구', '경기도 고양시일산동구', '경기도 고양시일산서구', '경기도 과천시',
       '경기도 광명시', '경기도 광주시', '경기도 구리시', '경기도 군포시', '경기도 김포시', '경기도 남양주시',
       '경기도 동두천시', '경기도 부천시', '경기도 성남시분당구', '경기도 성남시수정구', '경기도 성남시중원구',
       '경기도 수원시권선구', '경기도 수원시영통구', '경기도 수원시장안구', '경기도 수원시팔달구', '경기도 시흥시',
       '경기도 안산시단원구', '경기도 안산시상록구', '경기도 안성시', '경기도 안양시동안구', '경기도 안양시만안구',
       '경기도 양주시', '경기도 양평군', '경기도 여주시', '경기도 연천군', '경기도 오산시',
       '경기도 용인시기흥구', '경기도 용인시수지구', '경기도 용인시처인구', '경기도 의왕시', '경기도 의정부시',
       '경기도 이천시', '경기도 파주시', '경기도 평택시'], dtype=object)

     숙박유형명  평균판매금액      지역명  성수기여부
0    Hotel   88667  강원도 강릉시      0
1    Hotel  205885  강원도 강릉시      1
2    Hotel   96455  강원도 강릉시      0
3    Hotel  142178  강원도 강릉시      1
4    Hotel   65000  강원도 강릉시      0
..     ...     ...      ...    ...
481  Motel   41600  경기도 평택시      0
482  Motel   55000  경기도 평택시      0
483  Motel   55406  경기도 평택시      0
484  Motel   46667  경기도 평택시      0
485  Motel   52375  경기도 평택시      0

[486 rows x 4 columns]